@import "normalize.css", "reset.css";

:root.dark {
    --color-base-bg: rgb(18, 18, 18);
    --color-base-text: rgb(240, 240, 240);
}
:root.light {
    --color-base-bg: rgb(240, 240, 240);
    --color-base-text: rgb(18, 18, 18);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

$header-size: 150px;
$footer-size: 100px;
$shadow: 2px 2px 2px 0 rgba(51, 51, 51, 0.6);
$transition: all 0.2s ease;

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.hide {
    display: none;
}